.theft-report-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Seção hero - A primeira parte do site */
.hero {
    background: radial-gradient(circle, #13072e);
    padding: 50px 0;
    color: white;
}


.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: auto;
}

.hero-text {
    max-width: 55%;
}

.hero-text h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: bold;
}

.hero-text p {
    font-size: 1.25rem;
    margin-bottom: 30px;
}

.hero-image img {
    max-width: 400px;
    height: auto;
    border-radius: 15px;
}

.btn-schedule {
    padding: 15px 30px;
    background-color: #443ad4;
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}


.btn-schedule:hover {
    background-color: #000;
    color: #ffff;
    text-decoration: underline;
    text-decoration-color: #ffffff;
}
