.header {
    background-color: #1f2d3d; /* Fundo mais escuro para o cabeçalho */
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    margin-left: 20px; /* Ajuste de espaço para alinhar */
}

.logo-img {
    width: 150px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 5px 0;
    border-bottom: 3px solid transparent;
}

.nav-links li a:hover {
    color: #f0ad4e; /* Cor de destaque no hover */
    border-bottom: 3px solid #f0ad4e;
}
