.header {
    background-color: #1f2D3d;
    height: 70px;
    /* Fundo mais escuro para o cabeçalho */
    padding: 10px;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-section {
    margin-left: 20px; /* Ajuste de espaço para alinhar */
}

.logo-img {
    width: 150px;
    height: auto;
}

    .nav-links li a:hover {
        color: #f0ad4e;
        border-bottom: 3px solid #f0ad4e;
    }
}
