.carousel-container {
    h1 {
        background-color: var(--primary);
        margin: 0;
        text-align: center;
        color: #ffffff;

        font-size: 3.5rem;
        padding-top: 10px;
        text-transform: uppercase;
        line-height: 1.2;
        font-weight: bold;
    }

    .galleryPrincipal {
        height: 681px;
        padding: 50px 0 0 0;
        background-color: var(--primary);

        .galleryExtra {
            display: flex;
            justify-content: space-between;

            img {
                margin: auto;
                max-height: 550px;
            }

        }
    }
}




.carousel-container {
    position: relative;
}

a .carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}

.carousel-indicators {
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 53px;
}

.indicator-btn {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5b3603;
    border: none;
    cursor: pointer;
}

.indicator-btn.active {
    background-color: var(--secondary);
}