.footer {
    background-color: #1f2d3d;
    text-align: center;
    padding: 20px 0;

    .container {
        p {
            margin: 10px 0 0 0;
        }
    }
}

.footer p {
    color: #f0ad4e;
    font-size: 1rem;
}