* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: radial-gradient(circle, #13072e, black);
    color: white;
    line-height: 1.6;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

footer {
    text-align: center;
}

:root {
    --primary: #0b0e15;
    --secondary: #f0ad4e;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #0b0e15;
}

::-webkit-scrollbar-thumb {
    background-color: #443ad4;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Arial', sans-serif;
        scroll-behavior: smooth;
    }
}